
<div class="col-xs-3">
  <h2>User info</h2>
  <%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %> 
  <table class="table">
  <tbody>
  <tr>
  <th>name</th>
  <th><%= @user.name %></th> 
  </tr>
  <tr>
  <th>introduction</th>
  <th><%= @user.self_intro %></th> 
  </tr>
  </tbody>
  </table> 



  <h2><%= link_to "", edit_user_path(@user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{@user.id}" %></h2>   

  <h2>New Book</h2> 
  <%= form_for(@book, url: books_path ) do |f| %>
  
    
    <div class="form-group has-icon">
      <h5>Title</h5>
      <%= f.text_field :title, class:"book_title"  %>
    </div>
  
    <div class="form-group has-icon">
      <h5>Opinion</h5>
      <%= f.text_area :opinion, class:"book_body", rows:"2"%>
    </div>
  <%= f.submit "Create Book", class:"btn btn-primary col-xs-12 mt-20" %>
  <% end %>
</div>
<div class="col-xs-9">
<h2>Users</h2>
<table class="table">
  <thead>
  <tr>
    <th>User's image</th>
    <th>name</th>
    
  </tr>
  </thead>
  <tbody>
   <% @users.each do |u| %>
  <tr>
    <td><%= attachment_image_tag u, :image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%></td>
    <td><%=  u.name  %></td>
    <td><%= link_to "show detail", user_path(u) class: "user_#{u.id}" %></td>
  </tr>
 <%end%>
 </tbody>
</table> 
</div>