 <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= @book.errors.count %> errors occured for being saved</h2>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
<div class="col-xs-3">
  <h2>User info</h2>
  <%= attachment_image_tag current_user, :image, :fill, 100, 100, format: 'jpeg',  fallback: "no_image.jpg"%>
  <table class="table">
  <tbody>
  <tr>
  <th>name</th>
  <th><%= current_user.name %></th> 
  </tr>
  <tr>
  <th>introduction</th>
  <th><%= current_user.self_intro %></th> 
  </tr>
  </tbody>
  </table>  
<h2><%= link_to "", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" %></h2>
 

  <h2>New Book</h2> 
  <%= form_for(@book, url: books_path ) do |f| %>
  
    
    <div class="form-group has-icon">
      <h5>Title</h5>
      <%= f.text_field :title, class:"book_title"  %>
    </div>
  
    <div class="form-group has-icon">
      <h5>Opinion</h5>
      <%= f.text_area :opinion, class:"book_body", rows:"2"%>
    </div>
  <%= f.submit "Create Book", class:"btn btn-primary col-xs-12 mt-20" %>
  <% end %>
</div>
<div class="col-xs-9">


<h2>Books　一覧</h2>
<table class="table">
  <thead>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  </thead>
  <tbody>
   <% @books.each do |b| %>
  <tr>
    <td><%= attachment_image_tag b.user, :image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%></td>
    <td><%= link_to b.title , book_path(b), class:"book_#{b.id}" %></td>
    <td><%= b.opinion %></td>
  </tr>
 <%end%>
 </tbody>
</table> 
</div>
</div>